{{ partial "head.html" . }}

<main>
<section>
    <header>
    <h1>All Trees</h1>
    </header>

    <article>
    <ul>
        {{ range where .Pages.ByPublishDate.Reverse "Section" "trees" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }} </a></li>
        {{ end }}
    </ul>
    </article>
</section>

<aside>
    <header>
        <h2>Other links</h2>
    </header>
    <ul>
    <li><a href="{{ .Site.BaseURL }}">Home</a></p>
    <li><a href="{{ "posts/" | absURL }}">Posts</a></p>
    </ul>
</aside>
</main>

{{ partial "foot.html" .}}