{{ partial "head.html" . }}

<h1>{{.Title}}</h1>

<section>
  {{ partial "img" .}}
  <p>{{ .Params.Summary }}</p>
  {{.Content}}
  <div class="clear"></div>
</section>

<section>
  <h2>{{ .Name }} trees in context</h2>
  {{ partial "tree_data" .}}
</section>

<article>
  <header>
    <h3 style="margin: 12px 0">Questions about {{ .Name}} trees</h3>
  </header>
  {{ partial "qa" . }}
</article>

{{ partial "map" . }}

<ul>
  {{ with .PrevInSection }}
  <li><a href="{{ .Permalink }}">&laquo; {{ .Title }}</a></li>
  {{ end }} {{ with .NextInSection }}
  <li><a href="{{ .Permalink }}">{{ .Title }} &raquo;</a></li>
  {{ end }}
</ul>

<ul>
  <li><a href="{{ .Site.BaseURL }}">Home</a></li>
</ul>

{{ partial "foot.html" .}}
