{{ define "main" }}

<h1>{{.Title}} - ({{ .Params.Latin }})</h1>

<hr />

<section>
  {{ partial "img" .}}
  <p><em>{{ .Params.Summary }}</em></p>
  {{.Content}}
  <div class="clear"></div>
</section>

<section>
  <div>
    <h2>{{ .Name }} trees in context</h2>
  </div>
  <div class="databox">
    <div class="left">{{ partial "tree_data" .}}</div>
    <div class="right">{{ partial "map" . }}</div>
  </div>
</section>

<section>
  <h2 class="spacer">Questions about {{ .Name}} trees</h2>
  <hr />
  {{ partial "qa" . }}
</section>

<section>
  <h2 class="spacer">Other trees</h2>
  <ul>
    {{ $other := where .Site.RegularPages "Title" "ne" .Name }} {{ range
    $other}}
    <li><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</section>

{{ end }}
