{{ partial "head.html" . }}

<h1>{{.Title}}</h1>

<section>
  {{ partial "img" .}}
  <p><em>{{ .Params.Summary }}</em></p>
  {{.Content}}
  <div class="clear"></div>
</section>

<section>
  <div>
    <h2>{{ .Name }} trees in context</h2>
  </div>
  <div class="grid">
    <div>{{ partial "tree_data" .}}</div>
    <div>{{ partial "map" . }}</div>
  </div>
</section>

<section>
  <h3 class="spacer">Questions about {{ .Name}} trees</h3>
  <hr />
  {{ partial "qa" . }}
</section>

<section>
  <h4 class="spacer">Other trees</h4>
  <div class="grid">
    {{ $other := where .Site.RegularPages "Title" "ne" .Name }} {{ range
    $other}}
    <div><a href="{{ .RelPermalink}}">{{ .Title }}</a></div>
    {{ end }}
  </div>
</section>

{{ partial "foot.html" .}}
