{{ partial "head.html" . }}

<main>
<section>
    <header>
        <h1>All Posts</h1>
    </header>
    <article>
    <ul>
        {{ range where .Pages.ByPublishDate.Reverse "Section" "posts" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }} - <time datetime="{{.Date}}">{{ .Date.Format "2006/01/02 15:04:05" }}</time></a></li>
        {{ end }}
    </ul>
    </article>
</section>


<aside>
    <header>
        <h2>Other links</h2>
    </header>
    <ul>
    <li><a href="{{ .Site.BaseURL }}">Home</a></p>
    <li><a href="{{ "trees/" | absURL }}">Trees</a></p>
    </ul>
</aside>
</main>

{{ partial "foot.html" .}}