{{ $treeMap := .Resources.Get "map.json"}} {{ with $treeMap }}
<div
  id="map"
  style="
    width: 340px;
    height: 340px;
    position: relative;
    margin: 24px auto 0 auto;
  "
  class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
  tabindex="0"
>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    crossorigin=""
  ></script>
  <script>
    let markers = {{ $treeMap | transform.Unmarshal }};
  </script>

  {{ $mapData := resources.Get "/javascript/map.js"}}

  <script src="{{ $mapData.RelPermalink }}"></script>
</div>
<p class="caption">{{ $.Title }} trees in the UK</p>
{{ end }}
