<style>
  .selected {
    text-decoration: underline;
  }
</style>
{{ $data := dict "PageName" .Title "Data" (where .Site.RegularPages "Type"
"tree") }}
<table class="striped">
  <thead>
    <tr>
      <th>Tree</th>
      <th>Max Age (years)</th>
      <th>Max Height (metres)</th>
    </tr>
  </thead>
  <tbody>
    {{ range sort $data.Data ".Params.maxAge" "desc" }}
    <tr>
      <td>
        <span class="{{ if eq $data.PageName .Title -}} selected {{- end}}"
          >{{ .Title }}</span
        >
      </td>
      <td>{{ .Params.maxAge }}</td>
      <td>{{ .Params.maxHeight }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
