{{ partial "head.html" . }}
<main>
  <!-- this section is populated from content/_index.md -->
  <h1>{{.Title}}</h1>
  <article>{{.Content}}</article>
  {{ range (where .Site.RegularPages.ByPublishDate.Reverse "Section" "trees") }}
  <article>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  </article>
  {{ end }}
  <!-- -->
  {{ range (where .Site.RegularPages.ByPublishDate.Reverse "Section" "posts") }}
  <article>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  </article>
  {{ end }}
</main>

{{ partial "foot.html" .}}
